/*.panel-green {*/
/*    border-color: #5cb85c;*/
/*}*/
/*.panel-green .panel-heading {*/
/*    border-color: #5cb85c;*/
/*    color: #fff;*/
/*    background-color: #5cb85c;*/
/*}*/
/*.panel-green a {*/
/*    color: #5cb85c;*/
/*}*/

/*.panel-green a:hover {*/
/*    color: #3d8b3d;*/
/*}*/

/*.panel-red {*/
/*    border-color: #d9534f;*/
/*}*/

/*.panel-red .panel-heading {*/
/*    border-color: #d9534f;*/
/*    color: #fff;*/
/*    background-color: #d9534f;*/
/*}*/

/*.panel-red a {*/
/*    color: #d9534f;*/
/*}*/

/*.panel-red a:hover {*/
/*    color: #b52b27;*/
/*}*/

/*.panel-yellow {*/
/*     border-color: #f0ad4e; */
/*}*/

/*.panel-yellow .panel-heading {*/
/*    border-color: #f0ad4e;*/
/*    color: #fff;*/
/*    background-color: #f0ad4e;*/
/*}*/

/*.panel-yellow a {*/
/*    color: #f0ad4e;*/
/*}*/

/*.panel-yellow a:hover {*/
/*    color: #df8a13;*/
/*}*/



/*.panel-white {*/
/*     border-color: 0px;*/
/*     border:0px;*/
/*}*/

/*.panel-white .panel-heading {*/
/*    border-color: 0px;*/
/*    color: #555;*/
/*    background-color: #ffffff;*/
/*}*/
/*.panel-white .panel-footer{*/
/*    background-color:#555;*/
/*    color:white;*/
    /*font-weight:bold;*/
/*}*/
.info-box {
    display: block;
    min-height: 120px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.alert-info, .bg-aqua, .callout.callout-info, .label-info, .modal-info .modal-body {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 120px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 120px;
    background: rgba(0,0,0,.2);
}
.info-box-content {
    padding: 19px 10px;
    margin-left: 90px;
    text-align: center;
    color: #555;
}
.info-box-text, .progress-description {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}
.info-box-number {
    display: block;
    font-weight: 700;
    font-size: 30px;
    color: #555;
}
